html,
body {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;

}

.table {
    width: 80vw;
    max-height: 90vh;
    color: white;
    background-color: gray;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0 auto;
}

th {
    height: 50px;
    background-color: #212121;
    color: darkorange;
    line-height: 25px;
    font-size: 18px;
    border: 1px solid black;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

td {
    height: 40px;
    padding: 8px;
    line-height: 40px;
    border: 1px solid black;
    vertical-align: middle;

}


tr:nth-of-type(2) {
    background-color: green;
}

tr:nth-of-type(3) {
    background-color: green;
}

tr:nth-of-type(4) {
    background-color: #ecd819;
}


img {
    width: 2vw;
    height: 3vw;
    margin: 0 auto;
    padding: 0 5px 0 5px;
    vertical-align: middle;
}

.clubname {
    text-align: left;
}

tr:hover {
    background-color: black;
}

button {
    height: 40px;
    width: 100px;
    margin-left: 2%;
    cursor: pointer;
    background-color: black;
    border: 1px solid black;
    letter-spacing: 2px;

}

button a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

footer {
    height: 10vh;
    color: grey;
}

footer div {
    position: fixed;
    bottom: 5%;
    left: 70%;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

@media (min-width: 360px) {


    th {
        height: 20px;
        font-size: 10px;
    }

    td {
        height: 15px;
        font-size: 10px;
    }

    button {
        height: 30px;
        width: 70px;
    }

    button a {
        font-size: 10px;
    }

    @media (min-width: 640px) {
        th {
            height: 35px;
            font-size: 14px;
        }

        td {
            height: 20px;
            font-size: 14px;
        }


    }

    @media (min-width: 860px) {
        th {
            height: 50px;
            font-size: 18px;
        }

        td {
            height: 40px;
            font-size: 18px;
        }

        button {
            height: 40px;
            width: 100px;
        }

        button a {
            font-size: 16px;
        }
    }

    @media (orientation: portrait) {

        .table {
            height: 90vh;

        }

        th,
        td {
            font-size: 24px;
        }

        footer {
            visibility: hidden;
        }

        button {
            position: absolute;
            bottom: 5vh;
            left: 47vw;
        }
    }
