$color-main: #f1c40f;
$color-background: #f0f3f3;
$color-text: #444444;
$transition: all 1s;


.header {
color: gold;
margin:0;
border-bottom: 5px solid hsl(55, 73%, 58%);
}




* {
  box-sizing: border-box;
}

*:focus {
  box-shadow: none;
}

body, html {
  color: color-text;
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
  height: 100%;
  background-color:#1F2739;
  color:  #2a2;
  font-family: 'Roboto', sans-serif;
}


img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 60px 0;
}
.menu {
  background-color:  #2a2;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  display:flex;
  justify-content: space-around;
  position: fixed;
  top:0;
  left: 0px;
  width:100%;
  z-index: 10;
  border-bottom: 2px solid #2a2;
  letter-spacing: 1.5px;
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  padding: 15px;
}
.menu  a {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 15px;
  position: relative;
  z-index: 5;
}
.menu .opcja
{
    position: relative;
}
.menu .opcja::before
{
  content: '';
  position: absolute;
  right:50%;
  top:0;
  display: block;
  width: 0px;
  height: 100%;
  transition: 0.5s;
  z-index: 4;
}
.menu .opcja::after
{
  content: '';
  position: absolute;
  left:50%;
  top:0;
  display: block;
  width: 0px;
  height: 100%;
  transition: 0.5s;
  z-index: 4;
}
.menu .opcja:hover::after
{
  width:50%;
  background-color: #4c4;
}
.menu .opcja:hover::before
{
  width:50%;
  background-color: #4c4;
}
.menu .opcja:hover
{
  color:#030;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}
#intro
{
  max-width: 980px;
  text-align: justify;
}
.splash {
  height: 100%;
  margin: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  background-image: url('menadzer.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
background-attachment: fixed;
}

#about
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color:#1F2739;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-intro {
  margin: auto;
  text-align: center;
}

.main-title {
  margin: 0;
  font-weight: normal;
  color: #393;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 3px;
  font-family: 'Roboto', sans-serif;
  z-index: 5;
  position: relative;
}

.main-words
{
  position: relative;
  padding: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0, .7);
  border-radius: 20px;
}
.zaslona
{
  position: absolute;
  top:0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 4;
}

.main-subtitle {
  margin: 12px 0 0px 0;
  font-weight: normal;
  color: #393;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  z-index: 5;
  position: relative;
}

.btn {
  transition: 0.3s;
  padding: 18px 24px 18px 24px;
  font-size: 30px;
  background-color:black;
  color: gold;
  opacity: 0.9;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 2px 4px 10px 4px black;
  margin: 40px;
  margin-top: 100px;
  position: center center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

.btn:hover {
  transform: scale(1.05) rotate(-2deg);
  color:#cc3;
}

#gallery
{
  background-color:#1F2739;
}
.section.gallery{
padding: 60px 0 0 0;
}
.gallery-wrapper {
display: flex;
flex-wrap: wrap;
margin: 72px 0 0 0;
}
.gallery-item {
position: relative;
margin: 0;
flex: 0 0 25%;
max-width: 25%;
text-align: center;}

.section-title {
text-align: center;
color: #393;
margin-bottom: 70px;
}

.feature-title {
text-align: center;
color: #393;
}

.features
{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature {
  max-width: 30%;
  text-align: center;
}

.features-wrapper
{
  display: flex;
  justify-content: space-around;
}

.statement {
background-image: url('https://images.pexels.com/photos/46792/the-ball-stadion-football-the-pitch-46792.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
background-attachment: fixed;
}

.statement p {
margin: 0;
text-align: center;
font-size: 30px;
color: red;
}

.contact {
text-align: center;
}
.social-links {
list-style-type: none;
 padding: 0;
}

.social-links li {
display: inline-block;
border: 1px solid
}

.social-links li a {
display: block;
width: 100%;
height: 100%;
}


.page-footer {
padding: 12px 0;

}
.page-footer .container {
display: flex;
justify-content: space-between;
}

.page-footer p {
margin: 0;
}

.contact {
  text-align: center;
}

.social-links {
  list-style-type: none;
  padding: 0;
}

.social-links li {
  transition: transition;
  display: inline-block;
  border: 1px; solid color-main;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 20px;
}

.social-links li:hover {
  background: color-main;
}

.social-links li a {
  transition: transition;
  display: block;
  width: 100%;
  height: 100%;
}

.social-links li a:hover {
  color: #ffffff;
}

.c {
  margin: auto;
  max-width: 600px;
  text-align: center;
}

.p {
  font-size: .9em;
  padding-top: 140px;
}

.login {
  background-color:#1F2739;
  position: absolute;
  top:0;
  right: 0;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
}
.login form
{
  display: flex;
  align-items: center;
  position:relative;
}
.login a
{
  margin:0;
  padding: 0;
}
.login input[type = text],[type = password]
{
  width:150px;
  margin:5px;
  padding: 1px 5px;
  height: 28px;
  border-radius: 3px;
  border:1px solid #6f6;
  color:#6f6;
  background-color:#1F2739;
  outline: none;
}
.login input[type = text]:focus,
.login input[type = password]:focus
{
  box-shadow: 0px 0px 3px 2px #8f8;
}
.login input[type = submit]
{
  padding: 3px 5px;
  margin:0px 10px;
  border-radius: 3px;
  border:2px solid #5c5;
  color:#6f6;
  background-color: black;
  outline: none;
  cursor: pointer;
}
.login ::placeholder
{
  color:#292;
}
.login .zapomnialesHasla
{
  position: absolute;
  bottom:-20px;
  right:0;
  height: 20px;
  background-color: black;
  font-size: 12px;
  line-height: 16px;
  box-sizing: border-box;
  padding: 2px 5px;
  color:#6f6;
}
.login h4
{
  margin:0px 10px 0px 10px;
  color:#5c5;
  font-size: 20px;
  font-weight: 300;
}
.error
{
  color:red;
  margin-top: 10px;
  margin-bottom: 10px;
}
