body{
font-family: 'Lato', sans-serif;
font-weight: 300;
//background: rgb(220,224,230);
//background: linear-gradient(125deg, rgba(220,224,230,1) 0%, rgba(48,60,87,1) 1%, rgba(33,44,79,1) 100%);

background: rgb(220,224,230);
background: linear-gradient(125deg, rgba(220,224,230,1) 0%, rgba(53,60,76,1) 1%, rgba(13,15,9,1) 100%);
}

table, th, td {
  border-bottom: 1px solid #ddd;
  margin:5px;
  background-color: #1F2739;
  padding: 15px;
}

table
{
    border: 1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 5px;
    empty-cells: show;
}

th {
  height: 50px;
  text-align: center;
  //color: #185875;
  background-color: #1F2739;
  color: #FB667A;
}


td
{
    height: 30px;
    text-align: center;
    //background-color: #4CAF50;
    
    color: #185875;
}



.messages
{
    width: 100%;
    overflow-x:auto;
}